apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium-bgp
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: platform
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  source:
    repoURL: https://github.com/necdetsanli/homelab.git
    targetRevision: main
    path: clusters/k8s-home-arpa/apps/infra/cilium-bgp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
